* {
    box-sizing: border-box;
}
header, footer, section {
    border: solid black 3px;
}

header, footer {
    height: 100px;
    width: 100%;
    clear: both;
}

.col-1-3 {
    float: left;
    width: 33.33%;
    height: 200px;
}

.col-1-2 {
    float: left;
    width: 50%;
    height: 300px;
}