/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* body background and border */

body {
    background-color: rgb(138, 208, 231);
    border-width: 5px;
    border-color: rgb(116, 201, 31);
    border-style: solid;
    margin: 10px;
    height: auto;
    width: auto;
}


/* Header */

header {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: white;
    font-size: xx-large;
    font-style: italic;
    margin-bottom: 20px;
}

nav {
    color: white;
    font-size: large;
    font-weight: bold;
}

li {
    display: inline;
}

nav a {
    color: rgb(16, 161, 16);
}

/* Footer */

body footer {
    color: white;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}


footer nav li {
    display: inline;

}

/* Main Body*/
section {
    color: white;
    width: auto;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
}
p {
    color: white;
    clear: right;
    display: inline;
    line-height: 1.5;
    font-size: normal;
    margin-right: 20px;

}

img {
    height: 250px;
    float: right;
    display: inline;
    margin-right: 20px;
}

h2 {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}





